<header>
  <h1>Joshua Evans' Capable Mouse ~ ITIS 3135</h1>
  <nav aria-label="Primary Navigation Bar">
    <a href="index.html">Home</a>
    <a href="contract.html">Contract</a>
    <a href="survey.html">Survey</a>
    <a href="cards.html">Cards</a>
    <a href="inventory.html">Inventory</a>
    <a href="documentation.html">Documentation</a>
    <a href="product.html">Products</a>
    <a href="website_evaluations.html">Website Evaluations</a>
    <a href="intro_form.html">Introduction Form</a>
    <a href="project_overview.html">Project Overview</a>
  </nav>

  <nav aria-label="Secondary Navigation Bar">
    <a href="stuff/wiErD NamED fILE--!!.HTM">Crappy Page</a>
  </nav>
</header>
